<div class="row">
  <div class="product-details">
    <div class="col-md-5 col-md-offset-1" style="background: url('<%= @product.photo %>') no-repeat center center; background-size: cover;">
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
      <p class="price"><%= @product.price %></p>
    </div>
  </div>
</div>
