<% if object.errors.any? %>
  <div class="row">
    <div class="col-xs-8">
      <h2>
        <%= pluralize(object.errors.count, "error") %>
        prevented user profile from being created:
      </h2>
      <ul>
        <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
